.create-post {
  position: relative;

  &__form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: stretch;
  }

  &__input {
    flex-grow: 1;

    &__title {
      font-size: 1.8rem !important;
      height: 3rem !important;
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
      padding: .8rem !important;
    }
  
    &__body {
      position: relative;
      min-height: 70vh;
  
      &::after {
        content: "* * *";
        display: block;
        font-size: 1.5rem;
        color: #c7c7c7;
        width: fit-content;
        margin: .5rem auto;
        position: absolute;
        bottom: -10%;
        left: 50%;
      }
  
      .ql-container {
        font-size: 1rem !important;
        height: 100%;
      }
    }
  }


  &__action {
    position: absolute;
    right: -150px;
    display: flex;
    flex-direction: column-reverse;
    
    > * {
      display: block;
      margin-top: 1rem;
    }
  }
}